<a href="https://colab.research.google.com/github/gnsJhenJie/DataScience/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html  
[Getting Started with pandas](https://nbviewer.jupyter.org/github/LearnXu/pydata-notebook/blob/master/Chapter-05/5.1%20Introduction%20to%20pandas%20Data%20Structures%EF%BC%88pandas%E7%9A%84%E6%95%B0%E6%8D%AE%E7%BB%93%E6%9E%84%EF%BC%89.ipynb)

## Series

In [0]:
import pandas as pd
import numpy as np

* **Create series using default index**

In [0]:
obj = pd.Series([99,550,32,0,2.1])
obj

0     99.0
1    550.0
2     32.0
3      0.0
4      2.1
dtype: float64

* List values

In [0]:
obj.values

array([ 99. , 550. ,  32. ,   0. ,   2.1])

* List index

In [0]:
obj.index

RangeIndex(start=0, stop=5, step=1)

* **Create series using specific index**

In [0]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [0]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [0]:
obj2['c']

3

In [0]:
obj2['a'] = -100

In [0]:
obj2[['a','c','b','a','f']]

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:951: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

a   -100.0
c      3.0
b      7.0
a   -100.0
f      NaN
dtype: float64

In [0]:
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [0]:
np.exp(obj2)

d    5.459815e+01
b    1.096633e+03
a    3.720076e-44
c    2.008554e+01
dtype: float64

* Is element in serires?

In [0]:
'b' in obj2

True

In [0]:
'zzz' in obj2

False

* **Create series from a dictionary**

In [0]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon':16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [0]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [0]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [0]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [0]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [0]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [0]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

* Sum up series

In [0]:
obj4 + obj3

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [0]:
obj4 + obj3 + obj3

California         NaN
Ohio          105000.0
Oregon         48000.0
Texas         213000.0
Utah               NaN
dtype: float64

* Name of series

In [0]:
print(obj4.name)

None

* Give a name

In [0]:
obj4.name = 'Population'

In [0]:
obj4.index.name = 'States'

In [0]:
obj4

States
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: Population, dtype: float64

In [0]:
obj

0     99.0
1    550.0
2     32.0
3      0.0
4      2.1
dtype: float64

index多一個(沒對到)  
  ->

In [0]:
obj.index = ['嗨','你好','Bob','QQ','OAO','@@']

ValueError: ignored

正確的  
->

In [0]:
obj.index = ['嗨','你好','Bob','QQ','OAO']

In [0]:
obj

嗨       99.0
你好     550.0
Bob     32.0
QQ       0.0
OAO      2.1
dtype: float64

## Data Frame

In [0]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'], 
        'year': [2000, 2001, 2002, 2001, 2002, 2003], 
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

* 前5個

In [0]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [0]:
frame.head(10) #DataFrame只到5

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

* 倒數5個

In [0]:
frame.tail()

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [0]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [0]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], 
                      index=['one', 'two', 'three', 'four', 'five', 'six'])
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [0]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')